/*Relleno superior en los divs #cuerpo para que la barra de navegación no se superponga con el contenido*/
#cuerpo{
  padding-top: 100px;
}
/*Relleno en pantallas pequeñas
@media screen and (max-width: 500px) {
  #cuerpo{
    padding-top: 5%;
  }
}*/
#logotipo{
  width:120px;
  height:70px;
}
#logopie{
  width:100%;
  height:100%;
}
body{
  background-color: #ffffff;
}
/*Fondo de la página*/
#fondo{
  position: fixed;
  z-index: -2;
  opacity: 0.8;
  width: 100%;
}
/*Alineado para títulos y fuentes a utilizar*/
h1{font-weight: bold;}
h1, h2{text-align: center;}
h1, h2, h3{font-family: 'Great Vibes', sans-serif; font-size: 45px;}
h4, p, li, a{font-family: 'Roboto', sans-serif;}
p, h3, h4{text-align: justify;}
a{color: black;}
a:hover{text-decoration: none;}
/*Dimensionamiento de video
video{
  margin-left: ;
  margin-right: ;
  opacity: 1;
  width: 100%;
  height: 65vh;
  z-index: -1;
}*/
/*Frase y botón de reserva*/
#contenido_video{
  position: absolute;
  background-color: #aaaaaa;
  opacity: 0.8;
  color: black;
  padding: 10px;
  z-index: 1;
}
/*Separación (sin uso por responsive)
.separacion{margin-left: 1%;}*/
/*Botón de reserva
#reserva{margin-left: 1%;}
#reserva:hover{}
.boton{width: 300px;}*/
/*Dimensionamiento de contenido video por pantallas*/
@media screen and (min-width: 400px) {
  #contenido_video{
    top:68%;
    margin-left: 20%;
    width: 60%;
  }
}
@media screen and (max-width: 400px) {
  #contenido_video{
    visibility: hidden;
  }
}
/*Barra de navegación (Colores)*/
#nav{opacity: 0.8;
background-color: #aaaaaa;}
.navbar-brand {}
.navbar-brand:hover {}
/*Menú de navegación de líneas y horarios (Colores)*/
.nav-item .nav-link {font-weight: bold;}
.nav-item .nav-link:hover {font-weight: bold;}
/*Menú de navegación de enlaces interiores (Colores)*/
.dropdown-menu a{background-color: white; color: black ; font-weight: bold;}
.dropdown-menu a:hover {background-color:#aaaaaa ; color: black; font-weight: bold;}
/*Enlaces con imágenes*/
.enlaces{margin-left: auto; margin-right: auto; width: 40%;}
.enlaceTexto{text-align: center;}
.enlacesBlack{width: 10%;}
/*No mostrar decoración en listas de pie de página*/
.listadosPie{list-style-type: none;}
/* Make the image fully responsive */
.carousel-inner img {
  width: 100%;
  height: 65vh;
}
#carousel {
  width: 100%;
}
.destacar{
  background-color: #aaaaaa;
  opacity: 0.8;
  color: black;
  padding: 10px;
  padding-bottom: 35px;
  border-radius: 15px;
}
.resumen{
  border: 2px solid black;
  border-radius: 15px;
  background-color: #ffffff;
}
#bienvenida{
  width: 100%;
  height: 65vh;
}
#pie{
  background-color: #aaaaaa;
  opacity: 0.8;
  border-radius: 15px;
}
/*Botón de solicitar precio*/
#solicitar_precio{;}
#solicitar_precio:hover{;}
/*Mapa*/
.map{ width: 100%; height: 300px; }
/*EFECTOS*/
.navEf {height:9%;}
.zoom {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}
.transition {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
