/*-------------------------------------------------------------------------------*/
/*ESTRUCTURA BÁSICA PÁGINA*/
/*Relleno superior en los divs #cuerpo para que la barra de navegación no se superponga con el contenido*/
#cuerpo{
  padding-top: 97px;
}

/*Color blanco para cuerpo por si no carga la imagen de fondo*/
body{
  background-color: #ffffff;
}

/*Imagen de fondo de la página, destacando la posición fija, tras los elementos y con opacidad menor a 1*/
#fondo{
  position: fixed;
  z-index: -2;
  opacity: 0.8;
  width: 100%;
  height: 100%;
}

/*Alineado para títulos y fuentes a utilizar en los diferentes elementos de texto*/
h1{font-weight: bold;}
h1, h2{text-align: center;}
h1, h2, h3{
  font-family: 'Great Vibes', sans-serif;
  font-size: 45px;
}
h4, p, li, a{font-family: 'Roboto', sans-serif;}
p, h3, h4{text-align: justify;}
a{color: black;}
a:hover{text-decoration: none;}
label{font-weight: bold;}
.form-check-label{font-weight: normal;}
/*-------------------------------------------------------------------------------*/
/*BARRA DE NAVEGACIÓN. (Colores y opacidad)*/
#nav{
  opacity: 0.8;
  background-color: #aaaaaa;
}
#Navbar a:hover {color:#0275d8}

/*Ancho y largo del logotipo*/
#logotipo{
  width:120px;
  height:70px;
}

/*Menú de navegación (formato de fuente negrita)*/
.nav-item .nav-link {font-weight: bold;}
.nav-item .nav-link:hover {font-weight: bold;}

/*Menú de navegación de enlaces interiores (Colores y formato de fuente de destinos)*/
.dropdown-menu a{
  background-color: white;
  color: black ;
  font-weight: bold;
}
.dropdown-menu a:hover {
  background-color:#aaaaaa ;
  color: black;
  font-weight: bold;
}

/*-------------------------------------------------------------------------------*/
/*CARRUSEL DE IMAGENES*/
/*Imagen responsive para carrusel de imagenes para pantallas tipo escritorio */
.carousel-inner img {
  width: 100%;
  height: 70vh;
}

/*Imagen responsive para pantallas pequeñas y medianas*/
@media screen and (max-width: 800px) {
  .carousel-inner img {
    width: 100%;
    height: 40vh;
  }
}

/*Ancho del carrusel*/
#carousel {
  width: 100%;
}
/*-------------------------------------------------------------------------------*/
/*PIE DE PÁGINA*/
/*Ancho y largo del logotipo del pie de página*/
#logopie{
  width:100%;
  height:100%;
}

/*Recuadro para pie de página*/
#pie{
  background-color: #aaaaaa;
  opacity: 0.8;
  border-radius: 15px;
}

/*No mostrar decoración en listas de pie de página*/
.listadosPie{list-style-type: none;}

/*-------------------------------------------------------------------------------*/
/*OTROS*/
/*Enlaces con imágenes (redes sociales, iconos, etc.)*/
.enlaces{
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.enlaceTexto{text-align: center;}
.enlacesBlack{width: 10%;}

/*Recuadro para destacar elementos como formularios, etc.*/
.destacar{
  background-color: #aaaaaa;
  opacity: 0.8;
  color: black;
  padding: 10px;
  padding-bottom: 35px;
  border-radius: 15px;
}

/*Recuadro blanco para mostrar resumenes principalmente de reservas*/
.resumen{
  border: 2px solid black;
  border-radius: 15px;
  background-color: #ffffff;
}

/*Recuadro para Mapa*/
.map{
  width: 100%;
  height: 300px;
}

/*-------------------------------------------------------------------------------*/
/*EFECTOS*/
/*Efecto zoom para iconos redes sociales*/
.zoom {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}
.transition {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
